-- DropForeignKey
ALTER TABLE "CivicIssue" DROP CONSTRAINT "CivicIssue_priorityId_fkey";

-- DropForeignKey
ALTER TABLE "SlaPolicy" DROP CONSTRAINT "SlaPolicy_priorityId_fkey";

-- DropForeignKey
ALTER TABLE "WorkOrder" DROP CONSTRAINT "WorkOrder_priorityId_fkey";

-- AlterTable
ALTER TABLE "PriorityLevel" DROP CONSTRAINT "PriorityLevel_pkey",
ADD COLUMN     "id" TEXT NOT NULL,
ADD CONSTRAINT "PriorityLevel_pkey" PRIMARY KEY ("id");

-- CreateIndex
CREATE UNIQUE INDEX "PriorityLevel_code_key" ON "PriorityLevel"("code");

-- AddForeignKey
ALTER TABLE "CivicIssue" ADD CONSTRAINT "CivicIssue_priorityId_fkey" FOREIGN KEY ("priorityId") REFERENCES "PriorityLevel"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SlaPolicy" ADD CONSTRAINT "SlaPolicy_priorityId_fkey" FOREIGN KEY ("priorityId") REFERENCES "PriorityLevel"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkOrder" ADD CONSTRAINT "WorkOrder_priorityId_fkey" FOREIGN KEY ("priorityId") REFERENCES "PriorityLevel"("id") ON DELETE SET NULL ON UPDATE CASCADE;

